body {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*----------------- Cabecalho -------------------*/
.cabecalho {
    background-color: #1c234a;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nome-completo {
    margin-left: 10px;
    color: #1bfaad;
    font-size: 30px;
    padding: 5px;
}

.navegacao {
    margin-right: 10px;
}

.ul-navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.botao a {
    color: #1bfaad;
    font-size: 26px;
    border-radius: 5px;
    padding: 5px 20px;
}

.botao a:hover {
    background-color: #1bfaad;
    color: #1c234a;
    -webkit-transition: background-color 0.8s, color 0.8s;
    -moz-transition: background-color 0.8s, color 0.8s;
    -o-transition: background-color 0.8s, color 0.8s;
    transition: background-color 0.8s, color 0.8s;

    /*
    -webkit-animation: botao-navegacao 0.8s;
    -moz-animation: botao-navegacao 0.8s;
    -o-animation: botao-navegacao 0.8s;
    animation: botao-navegacao 0.8s;
    */
}

/*----------------- Animações -------------------*/

@-webkit-keyframes botao-navegacao {
    from{
        color: #1bfaad;
        background-color: #1c234a;
    }
    to{
        background-color: #1bfaad;
        color: #1c234a;
    }
}
@-moz-keyframes botao-navegacao {
    from{
        color: #1bfaad;
        background-color: #1c234a;
    }
    to{
        background-color: #1bfaad;
        color: #1c234a;
    }
}
@-o-keyframes botao-navegacao {
    from{
        color: #1bfaad;
        background-color: #1c234a;
    }
    to{
        background-color: #1bfaad;
        color: #1c234a;
    }
}
@keyframes botao-navegacao {
    from{
        color: #1bfaad;
        background-color: #1c234a;
    }
    to{
        background-color: #1bfaad;
        color: #1c234a;
    }
}